html {
    font-size: 10px;/*para utilizar la unidad rem --> relativos al font-size del html */
}

main {
    width: 90%;
    background-color: aquamarine;
    margin: auto;
    font-size: 15px;/*para utilizar la unidad em --> relativos al font-size del padre*/
}


/* p {
    color: blue;
    background-color: chocolate;
    /* etiquetas de color /
}

samp {
    color: rgb(54,34,78);
    /* rgb /
}

small {
    color: #474298;
    / hexadecimal /
} */

/* METODOLOGIA TIPO BEM CSS */
.color__p {
    /*font family tipografia de web (texto) */
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    color: #0818f8ec;

    .color__p--s {
    color: #e9c009ec;
    }

    .color__p--sm {
        color: chartreuse;
    }
}

header {
    a {
        color: #f81008ec;
        text-decoration: none;
        text-shadow: 10px 5px 15px #000;
    } 
}

.texto__p {
    color: #f6fcf6ec;
    background-color: rgb(247, 4, 174);
    font-family: 'Playfair Display' ,'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;   

    .texto__p--a {
        color: black;
        text-align: center;/*REVISAR VALORES DE CADA PROPIEDAD*/
        letter-spacing: 2;/**/
        text-decoration: underline;/**/
        text-transform: lowercase;
        line-height: 3;
        word-spacing: 20px;
    }
}


.unidades {

    .unidades__a {
        background-color: crimson;
        width: 700px;
        height: 400px;
        border: 2px solid blue;
        margin-bottom: 60px;
        font-size: 3em;
        
    }

    .unidades__b {
        width: 70%;/*Estos % de son correspondientes al % relacionado con el (%) del padre en este caso es el main*/
        height: 35%;
        background-color: darkmagenta;
        border: 10px groove greenyellow;
        text-align: center;
        text-decoration: overline;
        margin: auto;
        font-size: 0.5rem;
    }
}


